rho0 = 1.2
mA = 8500
mL = 7.3477e22
mT = 5.972e24
epsilon = 1e-3
dt = 1
tf = 172800
adaptatif = false
xT = 0
yT = 0
xL = 3.84748e8
yL = 0
xA = 3.14159e8
yA = 0
vxT = 0
vyT = 0
vxL = 0
vyL = 0
vxA = -1200
vyA = 0
sampling = 10
output = output.txt